<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<div class="product_column mobile-bidding">
  <div class="left-panel">
    <a href="/mobile-bidding/" >
      <img src="//cdn.optimizely.com/img/6202392703/fe39828ba7d7448ab79c4596c0f24316.png">
      <h3>Mobile Bidding</h3>
    </a>
    <p class="g_text">Our automated auction technology lets donors bid from their phone, whether they're in the room or across the world.</p>
  </div>
</div>

<div class="product_column ticket_sales">
   <div>
    <a href="/charity-event-ticket-sales/">
      <img src="//cdn.optimizely.com/img/6202392703/1aa3c0ad42d845909d5eda9fe73666ff.jpg">
      <h3>Instant Registration</h3>
    </a>
    <p class="g_text">Our integrated ticketing system registers event participants the moment they buy a ticket, so you don't have to.</p>
  </div>
</div>

<div class="product_column crowdfunding">
  <div class="left-panel">
    <a href="/mobile-bidding/">
      <img src="//cdn.optimizely.com/img/6202392703/4db360ec022e41bdb0a04e9c4fe4a5f0.jpg">
      <h3>Event Specialists</h3>
    </a>
    <p class="g_text">Our dedicated account managers will help plan your event. Our on-site fundraising staff will do everything else.</p>
  </div>

</div>
