<!-- <html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class=" js flexbox webgl no-touch geolocation hashchange history websockets rgba hsla multiplebgs backgroundsize borderimage textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage applicationcache svg svgclippaths mediaqueries no-regions supports"><!--<![endif]--><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Gesture - Mobile Bidding - Silent Auction Technology</title>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="mobile bidding,silent auction,nonprofit technology,fundraising,nonprofits,charities,events,charity,bidding,auctions">

    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="//cdn.optimizely.com/js/6202392703.js"></script>

    <!-- This site is optimized with the Yoast SEO plugin v3.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Gesture - formerly Auctions By Cellular (ABC) - is the leader in mobile bidding technology. Team Gesture powers silent auction charity events across the US.">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="http://gesture.com/">
    <link rel="publisher" href="https://plus.google.com/+Auctionsbycellular">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gesture - Mobile Bidding - Silent Auction Technology">
    <meta property="og:description" content="Gesture - formerly Auctions By Cellular (ABC) - is the leader in mobile bidding technology. Team Gesture powers silent auction charity events across the US.">
    <meta property="og:url" content="http://gesture.com/">
    <meta property="og:site_name" content="Gesture - Mobile Bidding Silent Auction Technology">
    <meta property="fb:app_id" content="1494749077435519">
    <meta property="og:image" content="http://gesture.com/wp-content/uploads/2013/12/abc_iphone_transparentbackground.png">
    <meta property="og:image:width" content="425">
    <meta property="og:image:height" content="629">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Gesture - formerly Auctions By Cellular (ABC) - is the leader in mobile bidding technology. Team Gesture powers silent auction charity events across the US.">
    <meta name="twitter:title" content="Gesture - Mobile Bidding - Silent Auction Technology">
    <meta name="twitter:site" content="@gestureteam">
    <meta name="twitter:image" content="http://gesture.com/wp-content/uploads/2013/12/abc_iphone_transparentbackground.png">
    <meta name="twitter:creator" content="@gestureteam">
    <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/gesture.com\/","name":"Gesture - Mobile Bidding Silent Auction Technology","potentialAction":{"@type":"SearchAction","target":"http:\/\/gesture.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/gesture.com\/","sameAs":["https:\/\/www.facebook.com\/TeamGesture","https:\/\/plus.google.com\/+Auctionsbycellular","https:\/\/twitter.com\/gestureteam"],"@id":"#organization","name":"Gesture","logo":"http:\/\/gesture.com\/wp-content\/themes\/gesture\/library\/images\/gesture-stacked.png"}</script>
    <!-- / Yoast SEO plugin. -->

    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Gesture - Mobile Bidding Silent Auction Technology » Feed" href="http://gesture.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="Gesture - Mobile Bidding Silent Auction Technology » Comments Feed" href="http://gesture.com/comments/feed/">
    <link rel="alternate" type="application/rss+xml" title="Gesture - Mobile Bidding Silent Auction Technology » The Best Mobile Bidding and Silent Auction Technology Platform Comments Feed" href="http://gesture.com/sample-page/feed/">
    <link rel="stylesheet" id="contact-form-7-css" href="http://gesture.com/wp-content/plugins/contact-form-7/includes/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="mailchimp-for-wp-checkbox-css" href="http://gesture.com/wp-content/plugins/mailchimp-for-wp/assets/css/checkbox.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="mailchimp-for-wp-form-css" href="http://gesture.com/wp-content/plugins/mailchimp-for-wp/assets/css/form.min.css" type="text/css" media="all">
    <script type="text/javascript" src="http://gesture.com/wp-includes/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="http://gesture.com/wp-includes/js/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="http://gesture.com/wp-content/themes/gesture/library/js/libs/modernizr.custom.min.js"></script>
    <link rel="https://api.w.org/" href="http://gesture.com/wp-json/">
    <link rel="shortlink" href="http://gesture.com/">
    <link rel="alternate" type="application/json+oembed" href="http://gesture.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fgesture.com%2F">
    <link rel="alternate" type="text/xml+oembed" href="http://gesture.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fgesture.com%2F&amp;format=xml">
    <style type="text/css">.broken_link, a.broken_link {
      text-decoration: line-through;
    }</style>
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://gesture.com/wp-content/themes/gesture/library/css/styles.css">
    <meta name="google-site-verification" content="cRJHoX-FHh50UsTJvhhWSXb3gQmTsgpbjOwt8XqMU90">
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-22275400-2', 'gesture.com');ga('send', 'pageview');</script>
    <script async="" type="text/javascript" src="//auctionsbycellular.disqus.com/count.js"></script>
  </head> -->
  <body class="home page page-id-2 page-template page-template-homepage page-template-homepage-php">
    <header class="masthead container-wrap">
      <div class="main-logo" style="width: inherit; padding-left: 10%;">
        <a title="Gesture – Mobile Bidding Silent Auction Technology" href="http://gesture.com">
          <img class="logo-big" alt="Gesture Mobile Bidding Silent Auction Technology" src="http://gesture.com/wp-content/themes/gesture/library/images/gesture-logo.svg">
        </a>
      </div>

      <div class="nav-wrap">
        <nav class="nav nav-left" style="width: 100%;"><br><br><br><br>
          <ul id="menu-main-nav" class="nav top-nav clearfix" style="width: 100%; text-align: center;">
            <li id="menu-item-5361" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-5361">
              <a href="http://gesture.com/">What is Gesture?</a>
            </li>
            <li id="menu-item-5366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5366">
              <a href="http://gesture.com/fundraising-event-services-for-charities/">Products &amp; Services</a>
            </li>
            <li id="menu-item-5367" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5367">
              <a href="/testimonials">Our Clients</a>
            </li>
            <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
              <a href="http://gesture.com/people/">People</a>
            </li>
            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
              <a class="contact" href="/contact-us-for-unique-fundraising-event-ideas/" style="left: 0px; position: relative; top: 0px;">Contact Us</a>
            </li>
            <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28">
              <a href="/blog" style="left: 0px; position: relative; top: 0px;">News</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="main">
      <div class="callout ">
        <h1 class="intro-head main-header">Technology that mobilizes donors</h1>
        <h2 class="main-text">Gesture's innovative products make charitable giving simple and seamless</h2>
        <a href="/free-demo/" class="btn btn-large btn-trans-primary free-demo-btn">I'm Interested</a>
      </div>
    </div>

    <div class="main-right"></div>

    <section class="callout bgr-lite padded-bottom-0">
      <div class="container-services padded-vertical clearfix">

        <h4 class="service-title uc" style="left: 0px; position: relative; top: 0px;">We've helped some of our favorite charities raise the bar.</h4>

        <div class="bigCTA">
          <div class="numbers" style="text-align: center;">
            <h1 id="numEvents" class="title">3,500+</h1>
            <br>
            <sm class="events-text">Events Held</sm>
          </div>

          <div class="numbers">
            <h1 class="title" style="margin-left: 25px;">$275M+</h1>
            <br>
            <sm class="events-text" style="margin-left: 25px;">Raised</sm>
          </div>
        </div>

        <div id="logo_container">
          <img id="optimizely_166379586" src="//cdn.optimizely.com/img/6202392703/3dc05e6a73ce4bd7ade60242999f8470.png" style="display: inline-block;position: relative;top: 0px;width: 160px;height: 200px; padding: 20px;">
          <img id="optimizely_570555984" src="//cdn.optimizely.com/img/6202392703/da3be0047f0a4583833221b535e57c23.png" style="display: inline-block;position: relative;top: 0px;width: 250px;height: 160px; padding: 20px;">
          <img id="optimizely_801137757" src="//cdn.optimizely.com/img/6202392703/2bffb7b559cf4807b4650f9be2f0cd66.png" style="display: inline-block;position: relative;top: 0px;width: 250px;height: 160px; padding: 20px;">
          <img id="optimizely_627143803" src="//cdn.optimizely.com/img/6202392703/6055b9cfcec44debba04150cad7e9ef6.png" style="display: inline-block;position: relative;top: 0px;width: 200px;height: 200px; padding: 20px;">
        </div>

        <a class="btn btn-large btn-trans-primary read-testimonials" href="/testimonials" style="text-align: center;">Read Testimonials</a>

      </div>

      <div id="dash1" class="container-services padded-vertical clearfix" style="margin-top: -40px;">.........................................................................................................................................................................</div>

      <h1 class="service-title uc" style="left: 0px; position: relative; top: 0px;">Gesture is rewriting the rules of<br>fundraising with a full suite of products.</h1>

      <div class="product_container">
        <div class="product_column mobile-bidding">
          <div class="left-panel">
            <a href="/mobile-bidding/" style="position: relative; left: 0px; top: 0px; width: 105px; height: 149px;">
              <img src="//cdn.optimizely.com/img/6202392703/523761b914d54b849492c6db2377c059.jpg" class="product_thumb">
              <h3>Mobile Bidding</h3>
            </a>
            <p class="g_text">Our automated auction technology lets donors bid from their phone, whether they're in the room or across the world.</p>
          </div>
        </div>

        <div class="product_column ticket_sales">
         <div>
          <a href="/charity-event-ticket-sales/" style="position: relative; left: 0px; top: 0px; width: 105px; height: 149px;">
            <img src="//cdn.optimizely.com/img/6202392703/eb89da1a121945fb8eee7a7c561b5ef1.jpg" class="product_thumb">
            <h3 style="margin-top: -8px;">Instant Registration</h3>
          </a>
          <p class="g_text">Our integrated ticketing system registers event participants the moment they buy a ticket, so you don't have to.</p>
        </div>
      </div>

      <div class="product_column crowdfunding">
        <div class="left-panel">
          <a href="/people" style="position: relative; left: 0px; top: 0px; width: 105px; height: 149px;">
            <img src="//cdn.optimizely.com/img/6202392703/17a496637d2844a9a6ab61ea9a758c93.jpg" class="product_thumb">
            <h3>Event Specialists</h3>
          </a>
          <p class="g_text">Our dedicated account managers will help plan your event. Our on-site fundraising staff will do everything else.</p>
        </div>
      </div>
      <div style="clear: both;">
        <a class="btn btn-large btn-trans-primary find-products" href="/fundraising-event-services-for-charities/" style="left: 0px; position: relative; text-align: center;">Find Your Product</a>
      </div>
    </div>
  </div>

  <div id="dash2" class="container-services padded-vertical clearfix">..................................................................................................................................................................................................................</div>

  <div id="successes" class="container-services padded-vertical clearfix" style="left: 0px; position: relative; top: 0px;">
    <h1 class="service-title uc" style="left: 0px; position: relative; top: 0px;">Gesture is more than a technology company</h1>
    <p style="left: 0px; position: relative; top: 0px;">Our dedicated account managers will help plan your event.<br>Our on-site fundraising specialists will do everything else.</p>
  </div>

  <div id="dash3" class="container-services padded-vertical clearfix">..................................................................................................................................................................................................................</div>

  <div id="hope_happen" class="container-services padded-vertical clearfix" style="left: 0px; position: relative; top: 0px;">

    <h1 class="service-title uc" style="left: 0px; position: relative; top: 0px;"><i>"Make Hope Happen"&nbsp;</i>is more than a motto</h1>
    <p style="left: 0px; position: relative; top: 0px;">Gesture was built by a team of passionate experts who<br>believe in breaking down the barriers to charitable giving.&nbsp;</p>

    <div class="service-btn" style="left: 0px; position: relative; top: 0px;">

      <a class="btn btn-large btn-trans-primary Who-we-are" href="/people" style="text-align: center;">Fundraise with Gesture</a>
    </div>
  </div>
</section>

<footer class="footer-page bgr-sand padded-vertical clearfix">
  <div class="container-1100 padded-vertical">
    <div class="span3 m5span12 footer-page-info">
      <img class="logo-footer padded-bottom" src="/wp-content/themes/gesture/library/images/gesture-stacked-alt.svg" alt="Gesture" onerror="this.parentNode.removeChild(this);">
      <p class="sans">
        <small>
          <a href="https://www.google.com/maps/preview?q=999+Oakmont+Plaza+Suite+150,+Westmont,+IL+60559">999 Oakmont Plaza, Suite 150 <br>Westmont, IL 60559</a><br>
          <a href="tel:888.748.2323">888.748.2323</a><br>
          <a href="mailto:partners@gesture.com">partners@gesture.com</a><br>
        </small>
      </p>
    </div>
    <div class="span9 m5span12 ">
      <div class="span5 m1span12 m2span12 smaller">
        <div class="span6">
          <ul class="no-bullets sans">
            <li class="uc color-indigo">Products</li>
            <li><a href="/mobile-bidding/">Mobile Bidding</a></li>
            <li><a href="/charity-event-ticket-sales/">Ticket Sales</a></li>
            <li><a href="/check-in-checkout/">Check In &amp; Out</a></li>
            <li><a href="/direct-donations/">Direct Donations</a></li>
            <li><a href="/realtime-fundraising-event-dashboard/">Realtime Dashboard</a></li>
            <li><a href="/auction-software-fundraising-events/">Auction Software</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/free-demo/">Free Demo</a></li>
            <li><a href="/blog/awards/">Awards</a></li>
            <li><a href="/blog/press-releases/">Press Releases</a></li>
          </ul></div>
          <div class="span6 m1span5 m2span6 padded-bottom">
            <ul class="no-bullets sans">
              <li class="uc color-indigo">Partners</li>
              <li><a href="/testimonials/">Letters From Our Partners</a></li>
              <li><a href="/blog/events/">Upcoming Events</a></li>
              <li><a href="https://e.gesture.com">Login</a></li>
            </ul>
            <ul class="no-bullets sans">
              <li class="uc color-indigo">People</li>
              <li><a href="/people/">Our People</a></li>
              <li><a href="/contact-us-for-unique-fundraising-event-ideas/">Contact Us</a></li>
              <li><a href="/careers/">Careers</a></li>
              <li><a href="/blog/video/">Videos</a></li>
              <li><a href="/blog/news/">News</a></li>
            </ul>
          </div>
        </div>
        <div class="span7 m1span12 m2span12">
          <div class="span8 m1span9 m3span12">
            <p>With over 10,000 Facebook fans and counting, you can tell the Gesture team loves to make friends. Join us on Facebook and other social networks to stay up to date with how technology and people can work together to bring about positive change.</p>
            <img class="logo-footer padded-vertical" src="/wp-content/themes/gesture/library/images/make-hope-happen.svg" alt="Make Hope Happen" onerror="this.parentNode.removeChild(this);">
          </div>
          <div class="span4 m1span3 m3span4 m4span6 m5span4 m6span8">
            <ul class="no-bullets sans space-0">
              <li><a href="https://www.facebook.com/TeamGesture"><span class="color-indigo icon-facebook"></span><span class="smaller"> Facebook</span></a></li>
              <li><a href="http://buff.ly/1K1GXxT"><span class="color-indigo icon-play"></span><span class="smaller"> YouTube</span></a></li>
              <li><a href="https://twitter.com/gestureteam"><span class="color-indigo icon-twitter"></span><span class="smaller"> Twitter</span></a></li>
              <li><a href="https://www.linkedin.com/company/2050846"><span class="color-indigo icon-linkedin"></span><span class="smaller"> LinkedIn</span></a></li>
              <li><a href="http://buff.ly/1K1GLi2"><span class="color-indigo icon-google-plus"></span><span class="smaller"> Google+</span></a></li>
              <li><a href="https://instagram.com/teamgesture/"><span class="color-indigo icon-instagram"></span><span class="smaller"> Instagram</span></a></li>
              <li><a href="https://www.pinterest.com/TeamGesture/"><span class="color-indigo icon-pinterest"></span><span class="smaller"> Pinterest</span></a></li>
              <li><a href="http://teamgesture.tumblr.com"><span class="color-indigo icon-tumblr"></span><span class="smaller"> Tumblr</span></a></li>
            </ul>
            <div>
              <a target="_blank" title="Gesture BBB Business Review" href="http://www.bbb.org/chicago/business-reviews/internet-auction-service/gesture-in-westmont-il-88646855/#bbbonlineclick"><img alt="Gesture BBB Business Review" style="opacity:.8;border:0;" src="http://seal-chicago.bbb.org/seals/black-seal-160-90-gesture-88646855.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="span12 aligncenter padded-top">
        <p><small>© 2016 Gesture &nbsp; <b>•</b> &nbsp; <a href="/privacy-policy/">Privacy&nbsp;Policy</a> &nbsp; <b>•</b> &nbsp; <a href="/terms-use/">Terms&nbsp;and&nbsp;Conditions</a> &nbsp; <b>•</b> &nbsp; <a href="https://e.gesture.com">Login</a></small></p>
      </div>
    </div>
  </footer>

  <script>
    if (window.location.pathname.indexOf('/blog/') != -1) jQuery('.menu-item a:contains("Blog")').parent().addClass('current-menu-item');
  </script>
  <link rel="stylesheet" href="http://gesture.com/wp-content/themes/gesture/library/css/icons.css">
  <script type="text/javascript">
        // <![CDATA[
        var disqus_shortname = 'auctionsbycellular';
        (function () {
          var nodes = document.getElementsByTagName('span');
          for (var i = 0, url; i < nodes.length; i++) {
            if (nodes[i].className.indexOf('dsq-postid') != -1) {
              nodes[i].parentNode.setAttribute('data-disqus-identifier', nodes[i].getAttribute('data-dsqidentifier'));
              url = nodes[i].parentNode.href.split('#', 1);
              if (url.length == 1) { url = url[0]; }
              else { url = url[1]; }
              nodes[i].parentNode.href = url + '#disqus_thread';
            }
          }
          var s = document.createElement('script');
          s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>
      <script type="text/javascript" src="http://gesture.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js"></script>
      <script type="text/javascript">
        /* <![CDATA[ */
        var _wpcf7 = {"loaderUrl":"http:\/\/gesture.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ...","cached":"1"};
        /* ]]> */
      </script>
      <script type="text/javascript" src="http://gesture.com/wp-content/plugins/contact-form-7/includes/js/scripts.js"></script>
      <script type="text/javascript" src="http://gesture.com/wp-content/themes/gesture/library/js/scripts.js"></script>
      <script type="text/javascript" src="http://gesture.com/wp-includes/js/wp-embed.min.js"></script>
      <!-- Google Code for Remarketing Tag -->
      <img height="1" width="1" style="border-style:none;width:auto;position:absolute;bottom:0;right:0;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005899327/?value=0&amp;guid=ON&amp;script=0">
      <!-- Twitter universal website tag code -->
      <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
      <script type="text/javascript">twttr.conversion.trackPid('nv0xv', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
      <noscript>
        &lt;img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nv0xv&amp;p_id=Twitter&amp;tw_sale_amount=0&amp;tw_order_quantity=0" /&gt;
        &lt;img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nv0xv&amp;p_id=Twitter&amp;tw_sale_amount=0&amp;tw_order_quantity=0" /&gt;
      </noscript>
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
          n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '1786156261613431');fbq('track', "PageView");
        </script>
        <noscript>&lt;img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=1786156261613431&amp;ev=PageView&amp;noscript=1"
          /&gt;
        </noscript>


<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Page Caching using disk: enhanced (Requested URI contains query)

Served from: gesture.com @ 2016-10-13 19:40:32 by W3 Total Cache -->
<script src="https://analytics.twitter.com/i/adsct?p_id=Twitter&amp;p_user_id=0&amp;txn_id=nv0xv&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels" type="text/javascript">
</script>
<style>
.product_container{margin-left:2%;text-align:center}.product_column{float:left;width:28%;padding:2%}.product_thumb{display:block;position:relative;height:50%;margin-left:auto;margin-right:auto;margin-bottom:20px}.g_text{width:inherit}.numbers{display:inline-block;width:33%;padding:5%}.events-text{font-size:20px;text-align:center;position:relative}.title{display:inline-block;margin:8% auto;font-size:80px;padding:8%}.bigCTA{display:inline-block;text-align:center;width:90%;height:200px;margin-top:-80px}.main{background-color: #CDAC99 !important; background:url(//cdn.optimizely.com/img/6202392703/65a11573b5de4a4291144833ea28f22a.jpg) no-repeat center center;width:50%;min-width:300px;z-index:5;margin-left:-10px;height:400px;position:absolute}.main-right{background-color: #CDAC99 !important; background:url(//cdn.optimizely.com/img/6202392703/dfc4f1ed94af4c7e84c7509fa9a496bb.jpg) no-repeat center center;width:54%;min-width:500px;z-index:1;right:0%;position:absolute;height:400px;background-origin:content-box}.main-header{z-index:100;font-size:40px;margin-top:30px}.main-text{z-index:100;font-size:20px}.callout{text-align:center}body > section.callout{top:400px;position:relative;margin-bottom:400px}
</style>
</body>
<!-- </html> -->