<h1>This is the Welcome#index</h1>

<div class="main">

  <div class="callout ">
  <!-- style="position: absolute; left: 150px; top: 2%; width: 40%;" -->
    <h1 class="intro-head main-header">Technology that mobilizes donors</h2>
    <!-- style="text-align: left; font-size: 40px;" -->

    <h2 class="main-text">Gesture's innovative products take the legwork out of charitable giving</h4>
    <!-- style="text-align: left; left: 0px; position: relative; top: 0px; font-size: 24px; color: rgba(255, 255, 255, 0.498039);" -->

    <a href="/free-demo/" class="btn btn-large btn-trans-primary free-demo-btn">I'm Interested</a>
    <!-- style="left: 0px; position: relative; top: 0px; text-align: center;" -->
  </div>


</div>
<div class="main-right"></div>

<% image_tag "banner_p1.jpg", class:'banner' %>
  <% image_tag "banner_p2.jpg", class:'banner banner2' %>

<div class="bigCTA">
  <div class="numbers" style="text-align: center;">
    <h1 id="numEvents" class="title">3,500+</h1>
    <br>
    <sm class="events-text">Events Held</sm>
  </div>

  <div class="numbers">
    <h1 class="title" style="margin-left: 25px;">$275M+</h1>
  <br>
    <sm class="events-text" style="margin-left: 25px;">Raised</sm>
  </div>
</div>

<div class="product_container">
  <div class="product_column mobile-bidding">
    <div class="left-panel">
      <a href="/mobile-bidding/" >
        <img src="//cdn.optimizely.com/img/6202392703/fe39828ba7d7448ab79c4596c0f24316.png" class='product_thumb'>
        <h3>Mobile Bidding</h3>
      </a>
      <p class="g_text">Our automated auction technology lets donors bid from their phone, whether they're in the room or across the world.</p>
    </div>
  </div>

  <div class="product_column ticket_sales">
     <div>
      <a href="/charity-event-ticket-sales/">
        <img src="//cdn.optimizely.com/img/6202392703/1aa3c0ad42d845909d5eda9fe73666ff.jpg" class='product_thumb'>
        <h3>Instant Registration</h3>
      </a>
      <p class="g_text">Our integrated ticketing system registers event participants the moment they buy a ticket, so you don't have to.</p>
    </div>
  </div>

  <div class="product_column crowdfunding">
    <div class="left-panel">
      <a href="/mobile-bidding/">
        <img src="//cdn.optimizely.com/img/6202392703/4db360ec022e41bdb0a04e9c4fe4a5f0.jpg" class='product_thumb third'>
        <h3>Event Specialists</h3>
      </a>
      <p class="g_text">Our dedicated account managers will help plan your event. Our on-site fundraising staff will do everything else.</p>
    </div>
  </div>
  <div style="clear: both; width: 78%">
    <a class="btn btn-large btn-trans-primary find-products" href="/fundraising-event-services-for-charities/" style="left: 0px; position: relative; text-align: center;">Find Your Product</a>
  </div>
</div>
