<div class='mobile-bidding' >
  <div>
    <img src='//cdn.optimizely.com/img/6202392703/c4332448ba604031a09f8f3ef9d633fa.png' class="mobile_img">
  </div>
  <div class='center' >
    <h3>Mobile Bidding</h3>
    <p>Our automated auction technology lets donors bid from their phone, whether they're in the room or across the world.</p>
  </div>
</div>

<div class='ticket_sales'>
  <div>
    <img src='//cdn.optimizely.com/img/6202392703/a4b9c35253414700bb061c61aed4dc81.png' class="mobile_img">
  </div>
  <div class='center'>
    <h3>Instant Registration</h3>
    <p>Our integrated ticketing system registers event participants the moment they buy a ticket, so you don't have to.</p>
  </div>
</div>

<div class='crowdfunding'>
  <div>
    <img src='//cdn.optimizely.com/img/6202392703/38c799f704404412aa6fb47f8c3e9d9f.jpg' class="mobile_img">
  </div>
  <div class='center'>
    <h3>Event Specialists</h3>
    <p>Our dedicated account managers will help plan your event. Our on-site fundraising staff will do everything else.</p>
  </div>
</div>

<div>
  <a class="btn btn-large btn-trans-primary find-products center" href="/fundraising-event-services-for-charities/">Find Your Product</a>
</div>

<!-- <div class='mobile-bidding' style='clear:both; padding-top:25px'>  \n

  <div class='left-panel' style='float: left;width: 40%;left: -20%;position: relative;'>\n     <h3>Mobile Bidding</h3>\n

    <p>Our automated auction technology lets donors bid from their phone, whether they're in the room or across the world.</p>\n     <a class='btn' href='/mobile-bidding/'>Learn More</a>\n
  </div>\n

  <div>\n    <img src='//cdn.optimizely.com/img/6202392703/c4332448ba604031a09f8f3ef9d633fa.png' style=\"display: block;position: relative;top: 20px;width: 100px;height: 140px;left: -50px;\">\n
  </div>\n
</div>\n\n

<div class='ticket_sales' style='clear:both;'>\n

  <div style='float:left; padding-right:25px'>\n    <img src='//cdn.optimizely.com/img/6202392703/a4b9c35253414700bb061c61aed4dc81.png' style='display: block;position: relative;top: 50px;width: 100px;height: 90px;left: -50px;'> \n
  </div>\n

  <div class='right-panel' style='float: left;width: 40%;left: -20%;position: relative;'>\n      <h3>Instant Registration</h3>\n

    <p>Our integrated ticketing system registers event participants the moment they buy a ticket, so you don't have to.</p>\n      <a class='btn' href='/charity-event-ticket-sales/'>Learn More</a>\n
  </div>\n
</div>\n\n

<div class='crowdfunding' style='clear:both; padding:25px'>  \n

  <div class='left-panel' style='float: left;width: 40%;left: -20%;position: relative;'>\n     <h3>Event Specialists</h3>\n

    <p>Our dedicated account managers will help plan your event. Our on-site fundraising staff will do everything else.</p>\n     <a class='btn' href='/mobile-bidding/'>Learn More</a>\n
  </div>\n

  <div>\n    <img src='//cdn.optimizely.com/img/6202392703/38c799f704404412aa6fb47f8c3e9d9f.jpg' style='display: block;position: relative;top: 40px;width: 100px;height: 120px;left: -50px;'>\n
  </div>\n<a class=\"btn btn-large btn-trans-primary find-products\" href=\"/fundraising-event-services-for-charities/\">Find Your Product</a>\n
</div> -->